*{
   margin: 0;
   padding: 0;
   text-align: center;
}
h1{
   background-color: #031b31;
   color: #fff;
   height:5rem;
   line-height: 5rem;
}

.choices{
   display:flex;
justify-content: center;
align-items: center;
gap: 5rem;
margin-top: 5rem;
 border-radius: 50%;

}
.choice{
   height: 200px;
   width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  
}
img{
   height: 160px;
   width: 160px;
   object-fit:cover;
    border-radius: 50%;
   
}
.choice:hover{
   
   cursor: pointer;
   background-color:black;
}
  
   

.score-board{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   margin-top: 3rem;
   gap:5rem;
}
#user-score,#computer-score{
   font-size: 4rem;
}
.msg-container{
      margin-top: 5rem;
}
#msg{

background-color: #081b31;
color: #fff;
font-size: 2rem;
display:inline;
padding:1rem;
border-radius: 1rem;
}